/* style.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #94bed6;
}

.container {
    max-width: 800px;
    min-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
h3 {
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 350%;
}

h2 {
    font-size: 250%;
}

h3 {
    font-size: 150%;
}


/* Header Styles */
header {
    text-align: center;
    margin-bottom: 20px;
}

/* Form Styles */
form,
.result-div {
    background-color: #fff;

    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info-div {
    margin-bottom: 3%;
}

#info-header,
.qh {
    font-size: 20px;
    margin-bottom: 10px;
}

.info-div label {
    font-size: 115%;
}

.name-div,
.date-of-birth-div,
.gender-div,
.email-div,
.street-div {
    margin-bottom: 10px;
}

input[type="text"],
input[type="date"],
select,
input[type="email"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;

}

input[type="checkbox"] {
    padding-left: 1%;
}

input[type="range"] {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
}

.questions-div-div {
    margin-bottom: 5%;
}

.questions-div {
    margin-bottom: 3%;
}

.qh {

    margin-bottom: 3%;
}

.opt-div {
    margin-top: 2%;
}

.opt-div label {

    font-size: 115%;
}

.submit-div,
.next-div {
    text-align: center;
    margin-top: 5%;
    margin-right: 0;

}

#submit-button,
#next-button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 150%;
    cursor: pointer;
}

#submit-button:hover,
#next-button:hover {
    background-color: #555;
}



#res-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.res-p {
    font-size: 125%;
    text-align: center;
}

.completed {
    border: 5px solid lightgreen;
}

.error {
    font-size: 150%;
    color: red;
}

@media (max-width: 930px) {
    .container {
        max-width: 700px;
        min-width: 500px;
        margin: 0 auto;
        padding: 20px;
    }

    #logo {
        width: 73px;
        height: 73px;
    }

    h1 {
        font-size: 300%;
    }

    h2 {
        font-size: 200%;
    }

    h3 {
        font-size: 150%;
    }

    .res-p {
        font-size: 100%;
    }

}

@media (max-width: 930px) {
    #logo {
        display: none;
    }
}